<form action="/usuarios/cria" method="POST">
        <div class="card"  data-bs-theme="dark" style="border-radius: 15px;">
            <div class="card-body p-5" data-bs-theme="dark">
              <h2 class="text-uppercase text-center mb-5"  data-bs-theme="dark">Crie uma Conta</h2>

              <form>

                <div class="form-outline mb-4"  data-bs-theme="dark">
                  <input type="text" id="Nome" name="nome" class="form-control form-control-lg" />
                  <label class="form-label" for="Nome">Nome</label>
                </div>

                <div class="form-outline mb-4"  data-bs-theme="dark">
                  <input type="email" id="Email" name="email" class="form-control form-control-lg" />
                  <label class="form-label" for="Email">Email</label>
                </div>

                <div class="form-outline mb-4"  data-bs-theme="dark">
                  <input type="password" id="Senha"name="senha" class="form-control form-control-lg" />
                  <label class="form-label" for="Senha">Senha</label>
                </div>

                <div class="form-outline mb-4"  data-bs-theme="dark">
                  <input type="password" id="ConfirmaçãoDaSenha" class="form-control form-control-lg" />
                  <label class="form-label" for="ConfirmaçãoDaSenha">Confirme a Senha</label>
                </div>

                <div class="form-check d-flex justify-content-center mb-5"  data-bs-theme="dark">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="termos">
                    Eu aceito todos os <a href="#!" class="text-body"><u>Termos de Servico</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button  type="submit" class="btn btn-success">Criar conta</button>
                </div>
              </form>

            </div>
          </div>
</form>