<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Site Extra</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="/javascripts/script.js"></script>
    </head>

    <body>

        <div class="nave sticky-top">

            <!--aqui eu crio o botao que sera usado no offcanvas-->
            <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">

                <!--O SVG é usado para definir gráficos baseados em vetores, tem exemplo no google-->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
                    <path fill-rule="evenodd"
                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                </svg>
            </button>

            <!--Começo do Offcanvas-->
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasExample"
                aria-labelledby="offcanvasExampleLabel ">

                <!--Cabeçalho do offcanvas-->
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                        <img class="img-logo" src="../images/logo.png" alt="logo">
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close">
                    </button>
                </div>

                <!--Conteudo offcanvas-->
                <div class="offcanvas-body">
                    <div class="modal-body p-5 pt-0">
                        <form class="">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control rounded-3" data-bs-theme="dark" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput" data-bs-theme="dark">Email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control rounded-3" data-bs-theme="dark"
                                    id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword" data-bs-theme="dark">Password</label>
                            </div>
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" data-bs-title="Clicando em Sing Up você está concordando com os termos de
                                uso." type="button">Sign up</button>
                            <hr class="my-4">
                            <h2 class="fs-5 fw-bold mb-3">Ou por meio de:</h2>
                            <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                                <svg class="bi me-1" width="16" height="16">
                                    <use xlink:href="#twitter" />
                                </svg>
                                Sign up with Twitter
                            </button>
                            <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
                                <svg class="bi me-1" width="16" height="16">
                                    <use xlink:href="#facebook" />
                                </svg>
                                Sign up with Facebook
                            </button>
                            <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                                <svg class="bi me-1" width="16" height="16">
                                    <use xlink:href="#github" />
                                </svg>
                                Sign up with GitHub
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">


                <!-- Essa é a parte da LOGO, que pode ser retirada para colcoar o menu lateral-->
                <div class="container-fluid">
                    <img class="img-logo" src="../images/logo.png" alt="logo">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>



                    <!-- PARTE ESSENCIAL DA NAVBAR-->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Jogos Populares</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Categorias
                                </a>

                                <!--aqui estao as categorias, se quiser add mais, so copiar e colar-->
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-primary" href="html/playstation.html">Playstation</a>
                                    </li>
                                    <li><a class="dropdown-item text-success" href="html/nintendo.html">Nintendo</a>
                                    </li>
                                    <li><a class="dropdown-item text-warning" href="html/arcade.html">Arcade</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="html/todos.html">Todos os Jogos</a>
                            </li>
                            <li>
                                <p class="text-center"><a href="/jogos/cria" class="btn btn-secondary"><i class="bi bi-pencil-square"></i> Criar
                                Jogo</a></p>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Digite aqui" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">ir</button>
                        </form>
                    </div>

                </div>
            </nav>
        </div>
        <div class="container mt-4">
            {{{body}}}
        </div>
    </body>
           

</html>