<form action="/users/cria" method="POST"></form>
<div class="row">
    <div class="form-group col-md-8">
        <label for="titulo" class="form-label">Título:</label>
        <input type="text" class="form-control" id="titulo" name="titulo" value="{{jogo.titulo}}">
    </div>

    <div class="form-group col-md-4">
        <label for="tag" class="form-label">Tag da Anotação</label>
      <select class="form-select" id="tag" name="tag" required>
        <option value="" disabled selected hidden>Selecione a Tag</option>
        <option value="Pessoal">Pessoal</option>
        <option value="Trabalho">Trabalho</option>
        <option value="Curso">Curso</option>
        <option value="Lazer">Lazer</option>
      </select>
    </div>
</div>

<div class="row">
    <div class="form-groupc col-md-12">
        <label for="iframeJogo" class="form-label">Iframe:</label>
        <textarea id="descJogo" name="descJogo" class="form-control" rows="5"></textarea>
    </div>
</div>

    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    <a href="/"class="btn btn-secondary mt-3">Cancelar</a>
</form>